<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <title>favorite</title>
</head>
<body>

    <header>
        <h1>my favorite digimons</h1>
    </header>
<main>

    <main>
        <div class="allContainer">
            <%data.forEach(val=>{%>
                <div class="container">
                    <h3><%=val.name%></h3>
                   <img src="<%=val.image%>" alt="">
                    <p><%=val.level%></p>
    
                       <a href="/details/<%=val.id%>"> <button >Show details</button></a>
                       
                </div>
        
            <%})%>
        
        </div>
        
            </main>











</main>








    
</body>
</html>